# === PlatformIO ===
.pio/
.build/

# === VSCode (opcjonalne) ===
.vscode/

# === STM32CubeIDE build artifacts ===
*.launch
*.log
*.tmp
*.bak
*.old
*.i
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.srec
*.axf
*.gcno
*.gcda
*.su
*.crf
*.dep
*.obj

# === Build folders ===
Debug/
Release/

# === STM32CubeMX temp folders ===
MX_*/

# === IDE metadata ===
.settings/

# === Python cache ===
__pycache__/
*.pyc

# === Swap/temp/editor files ===
*.swp
*.swo

# === Drivers build leftovers (safety only) ===
Drivers/**/*.o
Drivers/**/*.d
